/* This is just placeholder code. Paste in the css code from the tailwind play mockup provided */
/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;

/*
shared button styles

here in the CSS you define the padding, rounded corners, borders, casing, tracking etc.

the actual bg color,text color and hover colors are defined within the classes of the actual HTML elements
 */

@layer components {
  .button {
    @apply cursor-pointer items-center justify-center rounded-sm border-2 border-transparent px-6 py-2 text-base font-semibold tracking-wider shadow-sm transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
  /*
define different button sizes
button-sm, button-lg, button-xl etc.

you can change the size of the button per breakpoint
class="button button-sm md:button-base xl:button-xl"
*/
  .button-base {
    @apply text-base;
  }

  .button-xs {
    @apply px-3 py-1 text-xs;
  }

  .button-sm {
    @apply px-4 py-1.5 text-sm;
  }

  .button-lg {
    @apply px-6 py-2 text-lg;
  }

  .button-xl {
    @apply px-7 py-2.5 text-xl;
  }

  .button-2xl {
    @apply px-8 py-2.5 text-2xl;
  }
}

@tailwind utilities;

.pattern-primary-light {
  background-size: 6.25rem;
  background-image: url("data:image/svg+xml,%3Csvg width='103' height='103' viewBox='0 0 103 103' fill='none' fill-opacity='0.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_2559)'%3E%3Cpath d='M26.23 16.68L9.54999 0H7.60999L25.26 17.65L26.23 16.68Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.52 12.39L18.14 0H16.19L29.55 13.36L30.52 12.39ZM33.8453 16.6849L16.6838 33.8464L17.6526 34.8151L34.8141 17.6536L33.8453 16.6849ZM0 16.19L13.36 29.55L12.39 30.52L0 18.14V16.19ZM9.06767 8.10449L8.09894 9.07323L20.9754 21.9496L21.9441 20.9809L9.06767 8.10449ZM0 7.61L17.65 25.26L16.68 26.23L0 9.55V7.61ZM64.85 21.94L63.88 20.97L51.49 33.36L39.11 20.97L38.14 21.94L51.49 35.3L64.85 21.94ZM16.6727 69.1425L17.6415 68.1738L34.803 85.3353L33.8342 86.304L16.6727 69.1425ZM21.94 64.85L35.3 51.49L21.94 38.14L20.97 39.11L33.36 51.49L20.97 63.88L21.94 64.85ZM67.69 51.49L81.05 38.14L82.02 39.11L69.63 51.49L82.02 63.88L81.05 64.85L67.69 51.49ZM85.3332 68.1749L68.1717 85.3364L69.1404 86.3051L86.3019 69.1436L85.3332 68.1749ZM38.14 81.05L51.49 67.69L64.85 81.05L63.88 82.02L51.49 69.63L39.11 82.02L38.14 81.05ZM30.5208 29.5554L29.5519 30.524L42.426 43.4026L43.395 42.4341L30.5208 29.5554ZM29.5524 72.4653L42.4288 59.5889L43.3975 60.5577L30.5211 73.4341L29.5524 72.4653ZM60.5626 59.5874L59.5939 60.5562L72.4703 73.4326L73.439 72.4638L60.5626 59.5874ZM59.5923 42.4324L72.4688 29.5559L73.4375 30.5247L60.5611 43.4011L59.5923 42.4324ZM34.81 25.26L33.84 26.23L51.49 43.88L69.14 26.23L68.17 25.26L51.49 41.94L34.81 25.26ZM26.23 33.84L43.88 51.49L26.23 69.14L25.26 68.17L41.94 51.49L25.26 34.81L26.23 33.84ZM51.49 61.05L68.17 77.73L69.14 76.76L51.49 59.11L33.84 76.76L34.81 77.73L51.49 61.05ZM77.73 68.17L76.76 69.14L59.11 51.49L76.76 33.84L77.73 34.81L61.05 51.49L77.73 68.17ZM102.99 86.79V84.85L90.6 72.46L89.63 73.44L102.99 86.79ZM73.44 89.63L86.79 102.99H84.85L72.46 90.6L73.44 89.63ZM82.0157 81.0552L81.0468 82.0237L93.921 94.9024L94.8899 93.9338L82.0157 81.0552ZM102.99 95.38L85.34 77.73L86.31 76.76L102.99 93.43V95.38ZM76.76 86.31L93.43 102.99H95.38L77.73 85.34L76.76 86.31ZM0 84.85L12.39 72.46L13.36 73.44L0 86.79V84.85ZM29.55 89.63L16.19 102.99H18.14L30.52 90.6L29.55 89.63ZM8.09235 93.9202L20.9688 81.0438L21.9375 82.0125L9.06108 94.8889L8.09235 93.9202ZM16.68 76.76L0 93.43V95.38L17.65 77.73L16.68 76.76ZM9.54999 102.99L26.23 86.31L25.26 85.34L7.60999 102.99H9.54999ZM69.1415 16.686L68.1727 17.6547L85.3342 34.8162L86.3029 33.8474L69.1415 16.686ZM86.79 0L73.44 13.36L72.46 12.39L84.85 0H86.79ZM102.99 16.19L89.63 29.55L90.6 30.52L102.99 18.14V16.19ZM81.0524 20.9633L93.9288 8.0869L94.8975 9.05564L82.0211 21.9321L81.0524 20.9633ZM77.73 17.65L95.38 0H93.43L76.76 16.68L77.73 17.65ZM102.99 9.55L86.31 26.23L85.34 25.26L102.99 7.61V9.55ZM39.11 9.07L48.17 0H46.23L38.14 8.1L39.11 9.07ZM56.76 0L64.85 8.1L63.88 9.07L54.81 0H56.76ZM51.49 5.26001L59.59 13.36L60.56 12.39L51.49 3.32001L42.43 12.39L43.4 13.36L51.49 5.26001ZM99.67 51.49L90.6 60.56L89.63 59.59L97.73 51.49L89.63 43.4L90.6 42.43L99.67 51.49ZM94.89 64.85L102.99 56.76V54.81L93.92 63.88L94.89 64.85ZM94.89 38.14L102.99 46.23V48.17L93.92 39.11L94.89 38.14ZM12.39 42.43L3.32001 51.49L12.39 60.56L13.36 59.59L5.26001 51.49L13.36 43.4L12.39 42.43ZM0 54.81L9.07 63.88L8.1 64.85L0 56.76V54.81ZM8.1 38.14L0 46.23V48.17L9.07 39.11L8.1 38.14ZM39.11 93.92L48.17 102.99H46.23L38.14 94.89L39.11 93.92ZM63.88 93.92L54.81 102.99H56.76L64.85 94.89L63.88 93.92ZM51.49 97.73L59.59 89.63L60.56 90.6L51.49 99.67L42.43 90.6L43.4 89.63L51.49 97.73Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_2559'%3E%3Crect width='103' height='103' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-attachment: fixed;
}

/* So that the footer sticks to the bottom when page is shorter than screen */
#__next {
  min-height: 100vh;
  display: grid;
}

/* Custom cursor */
body {
  cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 63.45 84.8' height='32' width='24'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D .cls-2 %7B fill: %23164e63; %7D %3C/style%3E%3C/defs%3E%3Cg id='Logos'%3E%3Cg%3E%3Cpath class='cls-1' d='m56.35,43.07c-1.66,3.73-3.37,7.59-4,13.03,0,.01,0,.03,0,.04-.95,10.88-3.01,16.9-4.57,20.03-1.8,3.61-3.67,4.89-4.72,4.89-1.3,0-2.36-1.06-2.36-2.36,0-.07,0-.15-.02-.22l-2.95-19.62c-.3-2.61-2.5-4.58-5.14-4.58-3.38,0-4.93,2.84-5.16,4.77l-2.93,19.42c-.01.07-.02.15-.02.22,0,1.3-1.06,2.36-2.36,2.36-2.33,0-7.66-6.09-9.3-24.92,0-.01,0-.03,0-.04-.63-5.44-2.35-9.3-4-13.03-1.73-3.9-3.37-7.58-3.37-12.68,0-4.03,2.26-14.49,12.6-14.49,2.79,0,4.68.94,6.68,1.95.19.09,13.83.94,15.69,0,1.99-1,3.88-1.95,6.69-1.95,10.34,0,12.6,10.46,12.6,14.49,0,5.1-1.64,8.78-3.37,12.68Z'/%3E%3Cpath class='cls-2' d='m60.05,19c-2.98-4.47-7.45-6.83-12.93-6.83-3.7,0-6.18,1.25-8.37,2.35-1.87.94-3.63,1.83-6.15,1.83s-4.23-.85-6.21-1.84c-2.19-1.09-4.68-2.33-8.34-2.33-5.47,0-9.94,2.36-12.93,6.83-2.13,3.2-3.41,7.46-3.41,11.39,0,5.89,1.79,9.92,3.69,14.2,1.54,3.47,3.14,7.06,3.7,11.9,1.82,20.87,7.92,28.31,13.01,28.31,3.28,0,6.01-2.67,6.07-5.85l2.93-19.43c.02-.15.22-1.49,1.46-1.49.74,0,1.35.55,1.45,1.38l2.93,19.45c.07,3.28,2.8,5.95,6.08,5.95,1.72,0,5.04-.9,8.06-6.96,2.48-4.97,4.15-12.15,4.95-21.33.57-4.88,2.16-8.46,3.71-11.93,1.9-4.27,3.69-8.3,3.69-14.19,0-3.93-1.27-8.19-3.4-11.39Zm-4.4,23.76c-1.68,3.78-3.42,7.69-4.07,13.31-.94,10.76-2.96,16.68-4.5,19.76-1.63,3.28-3.31,4.47-4.04,4.47-.88,0-1.59-.71-1.59-1.59,0-.11,0-.22-.03-.33l-2.94-19.59c-.35-3-2.88-5.26-5.9-5.26-3.88,0-5.66,3.26-5.92,5.43l-2.92,19.41c-.02.11-.03.22-.03.34,0,.88-.71,1.59-1.59,1.59-1.71,0-6.92-5.74-8.54-24.29-.64-5.56-2.38-9.47-4.07-13.26-1.7-3.82-3.3-7.43-3.3-12.37,0-3.82,2.13-13.72,11.84-13.72,2.6,0,4.33.86,6.34,1.87.18.09,1.92.91,2.81,1.26,2.25.64,4.48,1.2,6.88.98,2.87-.27,4.44-1.08,6.1-1.93l.62-.31c1.99-.99,3.7-1.86,6.33-1.86,9.71,0,11.84,9.91,11.84,13.72,0,4.94-1.6,8.54-3.3,12.36h0s.7.32.7.32h0l-.7-.31Z'/%3E%3Cpath class='cls-2' d='m14.57,8.79c.59-.07.74-.86.22-1.14l-6-3.27L.9.08C.49-.15-.01.16,0,.63l.22,8.98.18,7.53c.01.62.83.82,1.14.29.19-.33.39-.64.59-.95,2.93-4.39,7.29-7.06,12.44-7.68Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    auto;
}
